.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.block-center {
    text-align: center;
}

.error {
    color: red;
}

.output {
    overflow-y: auto;
}